<div class="p-grid">
  <div class="p-col">
    <div class="p-grid p-jc-start">
      <img src="../assets/mmartan.png" >
    </div>
  </div>
  <div class="p-col">
    <div class="p-grid p-jc-end">
      <div class="inputBusca">
        <span class="p-input-icon-left">
           <i class="pi pi-search"></i>
          <input (keypress)="buscaPorNomeProduto($event)" type="text" pInputText placeholder="Search" [(ngModel)]="textForSearch"/>
        </span>
      </div>
    </div>
  </div>

  <div class="campo">
    <div class="p-grid p-jc-start ">
        <h2 *ngIf="textForSearch === null || textForSearch === ''">Lista de produtos</h2>
        <h2 *ngIf="textForSearch != null">{{textForSearch}}</h2>
    </div>
  </div>

  <div class="p-grid p-jc-center">
    <p-table [value]="customers" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped"
    [scrollable]="true" scrollHeight="350px" class="tableAdjust" >

    <ng-template pTemplate="caption">
      <div class="captionText">
        {{totalRecords}} PRODUTO(S) ENCONTRADO(S)
      </div>
    </ng-template>

    <ng-template pTemplate="body" let-customer>
      <tr>
          <td style="width: 500px;">
            <img [src]="customer.imgUrl1" [alt]="customer.imgUrl1" width="100" class="p-shadow-4" />
            <img style="margin-left: 5px;" [src]="customer.imgUrl2" [alt]="customer.imgUrl2" width="100" class="p-shadow-4" />
            <img style="margin-left: 5px;" [src]="customer.imgUrl3" [alt]="customer.imgUrl3" width="100" height="100" class="p-shadow-4" />
          </td>
          <td>
            <span style="font-weight: bold;">{{customer.name}}</span> <br>
            <span>{{customer.description}}</span>
          </td>
          <td>
            <div class="p-grid p-jc-end">
             <span class="precoAtual">{{customer.price | currency:'BRL':true}} por </span>
             <span class="precoComDesconto">{{customer.discount |currency:'BRL':true}}</span>
            </div>
          </td>
      </tr>
  </ng-template>

    </p-table>
  </div>

</div>
